.App {
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weather-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}